<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap4/css/bootstrap.min.css">
    <title>Page not found</title>
</head>

<style>

    body {
        background-color: #fffce1;

        text-align: center;

    }

    .error-header {
        background-color: #353dff;
        padding: 40px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: white;
    }

    .error-body {

    }

</style>

<body>

<table width=100%>

    <tr class="error-header">
        <td>
            <h1>404 Page not found</h1>
        </td>
    </tr>

    <tr class="error-body">
        <td>
            <h3>Sorry, you are trying to visit a page which isn't there.</h3>
            <h4>Make sure you are trying to connect to the correct page</h4>
        </td>
    </tr>


</table>


</body>
</html>